<div class = "col-sm-4 text-center">
<form class="form-horizontal" action="/sessions/login" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
  <div class="form-group row">
    <% if flash[:email_error] %>
      <p><%= flash[:email_error]%></p></br>
    <% end %>
    <label class="col-sm-3 col-form-label" for="email">Email:</label>
    <div class="col-sm-9">
      <input class="form-control" type="text" name="user[email]" value=""></br>
    </div>
  </div>
  <div class="form-group row">
  <% if flash[:password_error] %>
    <p><%= flash[:password_error]%></p></br>
  <% end %>
  <label class="col-sm-3 col-form-label" for="password">Password:</label>
  <div class="col-sm-9">
    <input class="form-control" type="password" name="user[password]" value=""></br>
  </div>
</div>
  <input class="btn btn-primary" type="submit" name="submit" value="Login">
</form>
<p>Not registered?</p>
<p><a href="/users/new">Create an account!</a></p>
</div>
